*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    background-color: white;
    padding-bottom: 5px;
}
#logo{
    width: 40px;
    margin: 10px 10px 0;
}
.logo-title{
    font-size: 30px;
    font-weight: bolder;
    vertical-align: 30%;
}
body{
    background-color: rgb(237, 237, 237);
    width: 100vw
}
main{

    width: 1500px;
    margin: auto;
}
.container-top{
    margin-top: 50px;
    background-color: white;
    padding: 15px 50px 10px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    
}
#button-left{
    background-color: rgb(98, 165, 252);
    color:whitesmoke;
}
#button-right{
    background-color: white;
    border: 0.5px solid lightgrey;
    color: lightgray;
}
.container{
    background-color: white;
    margin-top: 2px;
}
.symbol-arrow{
    font-size: x-small;
}
.content-box{
    padding: 30px 50px 0 50 ;
}
h3{
    font-size: 20;
}
.row{
    
    display: inline-block;
    padding: 15px 0;
}
#verify{
    border: 1px solid rgb(53, 180, 57);
    border-radius: 100%;
    padding: 1px 3px;
    color: rgb(53, 180, 57);
    margin-right: 10px;
}
#negative{
    border: 1px solid rgb(180, 53, 53);
    border-radius: 100%;
    padding: 4px 3px;
    color: rgb(180, 53, 53);
    margin-right: 10px;
    font-size: 10px;
}
small{
    background-color: rgb(98, 165, 252);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: 10px;
}
#goals{
    background-color: rgb(165, 89, 236);
}
#recruiting{
    background-color: rgb(74, 168, 127);
}
#mobile{
    background-color: rgb(232, 166, 43);
}
#website{
    background-color: rgb(228, 82, 211);
}
#sales{
    background-color: rgb(129, 215, 54);
}